In [1]:
import math, copy
import random as rnd
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from mpl_toolkits import mplot3d
from random import seed
from random import random
from sklearn.utils import shuffle
from mpl_toolkits.mplot3d import Axes3D

In [2]:
df=pd.read_csv("ex1data2.txt", names=['x1', 'x2', 'y'])
df = shuffle(df)
x_train = df.x1.values
y_train = df.x2.values
z_train = df.y.values

In [3]:
df.head()

      x1  x2       y
17  1236   3  199900
28  2200   3  475000
25  1100   3  249900
18  2609   4  499998
20  1767   3  252900

In [4]:
print(f"Размер датасета: {df.shape}")

Размер датасета: (47, 3)

In [5]:
%matplotlib qt 
ax = plt.axes(projection='3d')
ax.scatter(x_train, y_train, z_train, c=z_train, cmap='viridis', linewidth=0.5);

In [6]:
#df = (df - df.mean()) / df.std()

df['x1'] = (df['x1'] - df['x1'].mean()) / df['x1'].std()
df['x2'] = (df['x2'] - df['x2'].mean()) / df['x2'].std()

In [7]:
df.insert(0, 'Ones', 1)
# df['x0'] = 1

Xy = df.values
#X = Xy[:, :-1]
#y = Xy[:, -1:]

In [8]:
df.head()

    Ones        x1        x2       y
17     1 -0.962223 -0.223675  199900
28     1  0.250810 -0.223675  475000
25     1 -1.133356 -0.223675  249900
18     1  0.765468  1.090417  499998
20     1 -0.294048 -0.223675  252900

In [9]:
# X = np.matrix(X.values)
# y = np.matrix(y.values)
theta = np.random.uniform(size=[1, 3]) #np.matrix(np.array([rnd.random(),rnd.random(),rnd.random()]))
theta

array([[0.26535045, 0.541751  , 0.61182981]])

In [10]:
def func_H(theta, Xbatch, Ybatch):
    return theta @ Xbatch.T - Ybatch.T

In [11]:
X=Xy[:, :-1]
y=Xy[:, -1:]

In [12]:
alpha = 0.0002
m = 5
mses = []

for i in range(1500):
    for j in range(math.ceil(len(Xy)/m)):
        #Xbatch = X[j*m:j*m+m]
        #Ybatch = y[j*m:j*m+m]
        Xybatch = Xy[j*m:j*m+m]
        #print(len(Xbatch))
        
        Xbatch = Xybatch[:, :-1]
        Ybatch = Xybatch[:, -1:]
        
        #X=Xy[:, :-1]
        #y=Xy[:, -1:]
              
        theta -= (alpha * 2 / m) * func_H(theta, Xbatch, Ybatch) @ Xbatch                                                     

        
        mse = (func_H(theta, X,  y) ** 2).mean() #np.sum(np.power(func_H(theta, X, y), 2))/len(X)
        mses.append(mse)

In [13]:
#mses

In [14]:
yplot = np.array(mses)
xplot = np.array(range(0, len(mses)))
plt.figure(figsize=(20,6)) 
plt.plot(xplot, yplot)
plt.show()

In [15]:
np.shape(X)

(47, 3)

In [16]:

count = 20
_X1 = np.linspace(np.min(X[:,1]), np.max(X[:,1]), num=count)
_X2 = np.linspace(np.min(X[:,2]), np.max(X[:,2]), num=count)
H = []
print(np.shape(theta))
for x1 in _X1:
    for x2 in _X2:
        h = theta[0,2] * x2 + theta[0,1] * x1 + theta[0,0]
        H.append(h)

_X1, _X2 = np.meshgrid(_X1, _X2)

#H = np.array(H)
ax = plt.axes(projection='3d')
ax.view_init(0, 10)
ax.scatter(X[:,1], X[:,2], y)

(1, 3)

In [17]:
ax. plot_trisurf(_X1.flatten(), _X2.flatten(), H, color='y', linewidth=0, antialiased=True)
plt.show()

In [18]:
math.ceil(5.5)

6